---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro'; 
import Seccion1 from '../components/Seccion1.astro';
import Modelos from '../components/Modelos.astro';
import Amenidades from '../components/Amenidades.astro';
import Galeria from '../components/Galeria.astro';

const data = await fetch ('https://www.desarrollostiva.com/wp-json/wp/v2/arcosanto?acf_format=standard') 
const datos = await data.json() 

const datosLanding = datos[0].acf
console.log(datosLanding)
const imagenGaleria = datos[0].acf.galeria
 
--- 
   
<Layout title="Welcome to Astro.">  
	<Seccion1 
	datosLanding={datosLanding}
	/>
	<Modelos 
	datosLanding={datosLanding}
	/>
	<Galeria  
	 imagenGaleria={imagenGaleria}
	/>
	<Amenidades 
	 datosLanding={datosLanding}
	/>
	<a href="https://api.whatsapp.com/send?phone=526672320689&text=Hola%20necesito%20informacion" class="whatsapp"><img src={datosLanding.whatsapp.url} alt="whatsapp"> </a>
	
	
</Layout>
  
<style> 

    .whatsapp{
		position: fixed; 
		right: 3%;
		bottom: 50%;
	}
	 .whatsapp img{
		width: 64px;
		height: 64px;
	 }
</style>

<script>

</script>
 