---

const  {datosLanding} = Astro.props 

const {roof_garden,casa_club, vigilancia,gimnasio, ladrillo, area, bar, alberca, espacios_funcionales , garantia, roof_texto, casa_club_texto, vigilancia_texto, gimnasio_texto, ladrillo_texto, area_texto, bar_texto, alberca_texto, espacios_texto, garantia_texto} = datosLanding

---

<div class="amenidades w-full h-auto py-[100px]">
    <h3 class="text-[#333333] text-center text-4xl mb-5 uppercase">Amenidades</h3>
    <div class="row-amenidades w-[90%] mx-auto max-w-[1140px] flex flex-col justify-center items-center md:grid md:grid-cols-5 md:justify-items-around md:gap-2 mt-5"> 
        <div class="amenidad">
            <img src={roof_garden.url} alt="casa" loading="lazy">
            <h3>{roof_texto}</h3>
        </div>
        <div class="amenidad">
            <img src={casa_club.url} alt="alberca" loading="lazy">
            <h3>{casa_club_texto}</h3>
        </div>
        <div class="amenidad">
            <img src={vigilancia.url} alt="comun" loading="lazy">
            <h3>{vigilancia_texto}</h3>
        </div>
        <div class="amenidad">
            <img src={gimnasio.url} alt="pavimento" loading="lazy">
            <h3>{gimnasio_texto}</h3>
        </div>
        <div class="amenidad">
            <img src={ladrillo.url} alt="cableado" loading="lazy">
            <h3>{ladrillo_texto}</h3> 
             
        </div>
        <div class="amenidad">
            <img src={area.url} alt="cableado" loading="lazy">
            <h3>{area_texto}</h3>
        </div>
        <div class="amenidad">
            <img src={bar.url} alt="cableado" loading="lazy">
            <h3>{bar_texto}</h3>
        </div>
        <div class="amenidad">
            <img src={alberca.url} alt="cableado" loading="lazy">
            <h3>{alberca_texto}</h3>
        </div>
        <div class="amenidad">
            <img src={espacios_funcionales.url} alt="cableado" loading="lazy">
            <h3>{espacios_texto}</h3>
        </div>
        <div class="amenidad">
            <img src={garantia.url} alt="cableado" loading="lazy">
            <h3>{garantia_texto}</h3>
        </div>
       
      
       
       
       
       
       
    </div> 
</div>

<style>

    .amenidad{
        width: 90%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-transform: uppercase;
        font-weight: 700;
    }
    /* @media(min-width:768px){
        .amenidad{
            width: 24%;
        }
    } */
   .amenidad img {
    width: 100px;
    height: 100px;
   }

   .amenidad h3{
    font-size: 22px;
    text-align: center;
   }
</style> 